
<app-loading *ngIf="getLoading"></app-loading>

<div *ngIf="!!!getLoading">
    <div class="row animated fadeIn">
        <div class="col-2">
            <img [src]=" getArtist['images'] | noImage " class="img-thumbnail img-circle" alt="Responsive image">
        </div>
        <div class="col">
            <h3>{{ getArtist['name'] }}</h3>
            <p><a target="_blank" href="{{getArtist['external_urls']['spotify']}}">Spotify page</a></p>
        </div>
        <div class="col-4 text-right">
            <button class="btn btn-outline-danger" [routerLink]="['/search']">Back</button>
        </div>
        <hr>
        <table class="table mt-5">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Album</th>
                <th>Rankin</th>
                <th>Previw</th>
            </thead>
            <tbody>
                <tr *ngFor="let track of getTracks; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ track['name'] }}</td>
                    <td>{{ track['album']['name'] }}</td>
                    <td>{{ track['popularity'] }}</td>
                    <td><iframe [src]="track['id'] | url " width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>