<div class="row">
    <div class="col">
        <input #term type="text" (keyup)="searchArtist(term.value)" class="form-control" placeholder="search artist">
    </div>
</div>


<div class="card-columns mt-5" *ngIf="getResults != undefined">
    <div *ngFor="let result of getResults">
        <div class="card" *ngIf="result != undefined">
            <img [src]="result.images[0].url" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ result.name }}</h5>
              <span class="badge badge-pill badge-secondary" *ngFor="let genre of result.genres">{{ genre }}</span>
            </div>
        </div>
    </div>
</div>




